<nav>
    <img class="nav-plantswap-logo" src="/assets/images/plantswaplogo.svg" alt="planswap logo">
    <a href="/"><img class="nav-home-icon" src="/assets/images/homeicon.png" alt="home-button"></a>
</nav> 