*{
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main-background-color: linear-gradient(to left, #FFFFFF, #E5F6DF);
  --main-text-color: #110c11;
  --main-title-text-color: #654321;
  --main-text-font: 'PT Sans', sans-serif;
  --flex-gap-small: 1rem;
}

/* FONTS-SIZES */

h1{
  font-size: 40px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 16px;
}

.regular-text{
  font-size: 16px;
}

@font-face{
  font-family: Positive Attitude;
  src: url('../assets/fonts/PositiveAttitude.ttf')
}

/* UTILITY */

.text-box-title{
  padding: 0.5rem;
  background-color: white;
  width: 100%;
  color: var(--main-title-text-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  margin: 0;
}

.text-box-text{
  padding: 1rem;
  background: linear-gradient(to left, #F6F6F8, #F1F1F1);
  line-height: 130%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
}

.button-big{
  font-size: 24px;
  background-color: #654321;
  border: none;
  text-decoration: none;
  width: 15rem;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 16px;
  color: white;
}

.button-small{

}

/* BODY */

body{
  background: var(--main-background-color);
  color: var(--main-text-color);
  font-family: var(--main-text-font);
}

/* NAV */

nav{
  position: sticky;
  top: 0;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: var(--main-background-color);
}

.nav-plantswap-logo{
  width: 6rem;
}

/* HEADER */

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-images{
  margin: 0 auto 0 auto;
  width: 100%;
  height: 16rem;
  position: relative;
  padding: 0 0 5rem 0;
}

.homepage-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 1s ease-in-out;
}

.show-homepage-image{
  opacity: 1;
}

.banner{
  font-family: Positive Attitude;
  display: flex;
  flex-direction: column;
  color: var(--main-title-text-color);
  width: 50%;
  max-width: 20rem;
  padding: 2rem 0;
}

.banner-line-1{
  font-size: 40px;
  margin: 0 auto 0 0;
}

.banner-line-2{
  font-size: 64px;
  font-weight: 700;
  margin: 0 auto 0 auto;
}

.banner-line-3{
  font-size: 40px;
  margin: 0 0 0 auto;
}

.intro{
  width: 80%;
  max-width: 30rem;
}

/* PLANT-LIST */

.plant-list-container{
  width: 100vw;
  margin: 5rem 0 0 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plant-list{
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
}

.plant-link:hover{
  transform: scale(1.1);
}

.plant-link{
  flex: 1 1 40%;
  text-decoration: none;
  color: var(--main-title-text-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ;
  border-radius: 8px;  
  transition: 0.2s;
}

/* LELIJK */
.plant-link:nth-child(odd):last-child{
  flex: 0 0 calc(50% - (0.5 * var(--flex-gap-small)));
}

.plant-image{
  width: 100%;
  height: auto;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.plant-link:last-of-type{
  margin-right: auto;
}

.plant-title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  height: 5rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0.5rem;
}

/* GENERAL INFORMATION */

.text-content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 2rem;
  margin: 3rem auto 0 auto;
}

.text-content{
  max-width: 30rem;
}

.care-tips-list{
  list-style-type: none;
}

.buurtcampus-googlemaps{
  width: 100%;
  max-width: 100%;
}

/* FOOTER */

footer{
  margin: 5rem auto 3rem auto;
  width: 80%;
  text-align: center;
}

footer img{
  width: 100%;
}

/* PLANTPAGE */

.plant-page-header{
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}

.plant-page-plant-image{
  width: 100%;
  height: auto;
  max-width: 30rem;
}

.plant-page-plant-title{
  color: var(--main-title-text-color)
}

.plant-page-plant-info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  margin: 2rem auto 0 auto;
}

.reserve-plant-button{
  margin: 0 auto;
  width: 10rem;
  height: 6rem;
}

@media only screen and (min-width: 678px){
  
  /* HEADER */

  header{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
  }

  .homepage-images{
    width: 100%;
    margin: 0 0 2rem 0;
  }

  .banner{
    width: 40%;
    padding: 0;
  }

  .banner-line-1{
    font-size: 48px;
  }

  .banner-line-2{
    font-size: 72px;
  }

  .banner-line-3{
    font-size: 48px;
  }

  .intro{
    width: 40%;
  }

  /* PLANT-LIST */

  :root{
    --slider-padding: 5rem;
  }

  .plant-list-container{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .plant-list{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: nowrap;
    gap: 2rem;
    overflow-x: auto;
    justify-content: flex-start;
    padding: 2rem 2rem 4rem 5rem;
  }

  .plant-link{
    min-width: 12rem;
    height: 20rem;
  }

    /* LELIJK */
  .plant-link:nth-child(odd):last-child{
    width: 12rem;
    max-width: 12rem;
  }


  /* GENERAL INFORMATION */

  .text-content-container{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .text-content{
    max-width: 16rem;
  }

  .buurtcampus-googlemaps{
    width: 100%;

  }

  /* PLANTPAGE */

  .plant-page-content{
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 4rem;
  }

  .plant-page-header{
    width: 25rem;
    margin: 0;
  }

  .plant-page-plant-image{
    height: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .plant-page-plant-title{
   border-radius: 0;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
  }

  .plant-page-plant-info{
    flex-direction: row;
    width: 50rem;
    align-items: center;
    margin: 0;
  }

  .plant-page-text-content{
    width: 15rem;
  }
}

@media only screen and (min-width: 1024px){

  .homepage-images{
    max-width: 75%;
    height: 20rem;
  }

  .homepage-image{
    border-radius: 8px;
  }

  .banner-line-1{
    font-size: 56px;
  }

  .banner-line-2{
    font-size: 80px;
  }

  .banner-line-3{
    font-size: 56px;
  }

  .text-content-container{
    width: 100%;
  }
  .text-content{
    max-width: 18rem;
  }

}